body {
    background-color:cadetblue;
}


.name {
    margin-top: 400px;
}

.name h1 {
    text-align: center;
    letter-spacing: 7px;
}

.profile p {
    text-align: center;
    letter-spacing: 7px;
}

li{
    list-style:none;
}

.menu a{
    text-decoration: none;
    color:black;
}
